/* CSS for comprehensive content protection */

/* Disable text selection for the entire page */
body {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10+ and Edge */
    user-select: none;         /* Standard */
    -webkit-user-drag: none;   /* Safari, Chrome */
    -webkit-touch-callout: none; /* Disable long-press context menu on iOS */
    position: relative; /* Prevent CSS extraction */
}

/* Prevent interaction with images and videos */
body img, 
body video {
    pointer-events: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

/* Add a transparent overlay to specific image containers to further prevent saving */
.image-wrapper, 
.protected-image-container,
.featured-project-image-area,
.project-image-area,
.certification-icon {
    position: relative;
    display: inline-block; /* Adjust if it causes layout issues, but usually safe for wrappers */
}

.image-wrapper::after, 
.protected-image-container::after,
.featured-project-image-area::after,
.project-image-area::after,
.certification-icon::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* Obfuscate structure - add invisible elements to confuse scrapers */
body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}

/* Prevent printing the page content */
@media print {
    body * {
        display: none !important;
    }

    body {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    body::before {
        content: "Printing is disabled on this website.";
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        color: #000;
        text-align: center;
        background: #fff;
        width: 100%;
        height: 100%;
        padding-top: 50vh; /* Approximate vertical centering */
    }
} 